{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Custom css ADD HERE-->
    
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

  
    <title>qr_self_service_shop</title>
  </head>
  <body>
    <div class="ui container">

        <div style="display: flex;">
          <img src="/qr_codes/{{img_name}}" alt="qr code">
          <div style="display: flex; flex-direction: column;  width: 25%">
            {% for i in product %}
              <div style="display: flex; justify-content: space-between;">
                <div><h3>{{i}}</h3></div>
                
                <div><h3>{% if i != null %}{{i.product_price}} Baht</h3></div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        <h1>Total : {{money}}</h2>

    </div>


  </body>
</html>